<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<h2>All users</h2>





<div th:each="user : ${users}">
<table>
    <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getId()+ ')  ' + user.getName()}">user</a>
    <form th:method="Edit" th:action="@{/users/{id}/edit(id=${user.getId()})}">
        <input type="submit" value="Edit">
    </form>
    <form th:method="Delete" th:action="@{/users/{id}(id=${user.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
</table>
    <br>
</div>

<br>
<hr>

<form th:method="Create" th:action="@{/users/new}">
    <input type="submit" value="Create">
</form>
</body>
</html>